form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:100px;
  border: 1px solid black;
  max-width:  350px;
  margin: 40px;

}

button{
  padding:2px;
  border-radius: 6px;
  margin-bottom: 16px;
  display: flex;
  

}